@model Clinc_Care_MVC_Grad_PROJ.Areas.Managment.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpNationalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpNationalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpHirigDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpHirigDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeTypeIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeTypeIdNavigation.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
