@model IEnumerable<Clinc_Care_MVC_Grad_PROJ.Areas.Managment.Models.MedicineOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Medicines</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.MedicineIdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosageIdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.MedicineIdNavigation.MedicineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DosageIdNavigation.DosageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructions)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MedicineOrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MedicineOrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MedicineOrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
