@model Clinc_Care_MVC_Grad_PROJ.Areas.Managment.Models.RadiologyRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RadiologyRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadiologyRecordId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadiologyRecordId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadioResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadioResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadiologyRecordDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadiologyRecordDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientIdNavigation.PatientEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadiologyTypeIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadiologyTypeIdNavigation.RadiologyName)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RadiologyRecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
