@model Clinc_Care_MVC_Grad_PROJ.Areas.Managment.Models.LaboratoryRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LaboratoryRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaboratoryRecordId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaboratoryRecordId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabRecordsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabRecordsDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientIdNavigation.PatientEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaboratoryTypeIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaboratoryTypeIdNavigation.LabName)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LaboratoryRecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
